<%- include("../partials/header"); %>
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">
            Welcome to Wild Woof
        </h1>
        <hr class="my-4" />
        <p>This page shows all the dogs that have been shared</p>
        <a class="btn btn-info btn-lg" href="/dogs/new">Add your dog</a>
    </div>
    <div class="row">
        <% dogs.forEach(function(dog){ %>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="<%= dog.image %>" alt="dog" />
                    <div class="card-body">
                        <h5 class="card-title"><%= dog.name %></h5>
                        <span class="badge badge-pill badge-info mb-3"><i class="fas fa-bone"></i> <%= dog.likes.length %></span>
                        <h6 class="card-subtitle mb-2 text-muted">Submitted by <%= dog.author.username %></h6>
                        <a class="btn btn-primary" href="/dogs/<%= dog._id %>">More info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include("../partials/footer"); %>
