<%- include("../partials/header"); %>
<div class="container my-3">
    <div class="card">
        <img class="card-img-top" alt="dog" src="<%= dog.image %>" />
        <div class="card-body">
            <form class="mb-2" action="/dogs/<%= dog._id %>/like" method="post">
                <div class="btn-group">
                    <% if(currentUser && dog.likes.some(function(like){
                        return like.equals(currentUser._id)
                    })) { %>
                        <button class="btn btn-sm btn-primary">
                            <i class="fas fa-bone"></i> Gave a bone! (<%= dog.likes.length %>)
                        </button>
                    <% } else { %>
                        <button class="btn btn-sm btn-primary">
                            <i class="fas fa-bone"></i> Give a bone (<%= dog.likes.length %>)
                        </button>
                    <% } %>
                    <button type="button" class="btn btn-sm btn-light border" data-toggle="modal" data-target="#dogLikes">
                        See more details
                    </button>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#dogLikes">
                        <span>Total bones: <i class="fas fa-bone"></i> <%= dog.likes.length %></span>
                    </button>
                </div>
            </form>
            <h5 class="card-title"><%= dog.name %></h5>
            <h6 class="card-subtitle text-muted font-italic mb-3">Submitted by <%= dog.author.username %></h6>
            <p class="card-text"><%= dog.description %></p>
            <% if(currentUser && dog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <form action="/dogs/<%= dog._id %>?_method=delete" method="post">
                    <button class="btn btn-danger float-right ml-2">Delete</button>
                </form>
                <a class="btn btn-success float-right" href="/dogs/<%= dog._id %>/edit">Edit</a>
            <% } %>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-5">
        <div class="card-header">
            <p class="float-left mb-0 py-1 px-2">
                Comments
            </p>
            <a class="btn-sm btn-info float-right" href="/dogs/<%= dog._id %>/comments/new">New Comment</a>
        </div>
        <% dog.comments.forEach(function(comment){ %>
            <div class="card-body">
                <p class="card-text text-muted font-italic float-right">10 days ago</p>
                <p class="card-text"><%= comment.text %></p>
                <h6 class="card-subtitle mt-2 text-muted font-italic">Submitted by <%= comment.author.username %></h6>
                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <form action="/dogs/<%= dog._id %>/comments/<%= comment._id%>?_method=delete" method="post">
                        <button class="btn-sm btn-danger float-right border-0 ml-2">Delete</button>
                    </form>
                    <a class="btn-sm btn-success float-right" href="/dogs/<%= dog._id %>/comments/<%= comment._id %>/edit">Edit</a>
                <% } %>
            </div>
        <% }); %>
    </div>
</div>

<!-- Dog likes modal -->
<div id="dogLikes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dog bones: <%= dog.likes.length %></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Threw a bone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% dog.likes.forEach(function(like){ %>
                            <tr>
                                <td>
                                    <span class="badge"><i class="fas fa-bone"></i></span> <%= like.username %>
                                </td>
                            </tr>
                        <% }); %>
                        <%  if(dog.likes.length === 0){ %>
                            <tr>
                                <td>
                                    No bones yet.
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer"); %>
